In [1]:
import pandas as pd

# Loading dataframe

- Jupyter notebook is more friendly to pandas

In [2]:
data = [
    [1,2,3,4],
    [4,5,6,7]
]
data = pd.DataFrame(data)
data

   0  1  2  3
0  1  2  3  4
1  4  5  6  7

In [4]:
data ={
    'x1' : [1,2,3,4],
    'x2' : [2,3,4,5],
    'x3' : [4,5,6,7]
}
data = pd.DataFrame(data)
data

   x1  x2  x3
0   1   2   4
1   2   3   5
2   3   4   6
3   4   5   7

In [5]:
fname = 'data/ign.csv'
ign = pd.read_csv(fname)
ign

,Unnamed: 0,score_phrase,title,url,platform,score,genre,editors_choice,release_year,release_month,release_day
0,0,Amazing,LittleBigPlanet PS Vita,/games/littlebigplanet-vita/vita-98907,PlayStation Vita,9.0,Platformer,Y,2012,9,12
1,1,Amazing,LittleBigPlanet PS Vita -- Marvel Super Hero E...,/games/littlebigplanet-ps-vita-marvel-super-he...,PlayStation Vita,9.0,Platformer,Y,2012,9,12
2,2,Great,Splice: Tree of Life,/games/splice/ipad-141070,iPad,8.5,Puzzle,N,2012,9,12
3,3,Great,NHL 13,/games/nhl-13/xbox-360-128182,Xbox 360,8.5,Sports,N,2012,9,11
4,4,Great,NHL 13,/games/nhl-13/ps3-128181,PlayStation 3,8.5,Sports,N,2012,9,11
...,...,...,...,...,...,...,...,...,...,...,...
18620,18620,Good,Tokyo Mirage Sessions #FE,/games/fire-emblem-x-shin-megami-tensei/wii-u-...,Wii U,7.6,RPG,N,2016,6,29
18621,18621,Amazing,LEGO Star Wars: The Force Awakens,/games/lego-star-wars-the-force-awakens/ps4-20...,PlayStation 4,9.0,"Action, Adventure",Y,2016,6,29
18622,18622,Mediocre,Star Ocean: Integrity and Faithlessness,/games/star-ocean-5/ps4-20035681,PlayStation 4,5.8,RPG,N,2016,6,28
18623,18623,Masterpiece,Inside,/games/inside-playdead/xbox-one-121435,Xbox One,10.0,Adventure,Y,2016,6,28
18624,18624,Masterpiece,Inside,/games/inside-playdead/pc-20055740,PC,10.0,Adventure,Y,2016,6,28

# Basic on Pandas

- basic information
- pick a column from the dataframe

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   x1      4 non-null      int64
 1   x2      4 non-null      int64
 2   x3      4 non-null      int64
dtypes: int64(3)
memory usage: 224.0 bytes

In [8]:
ign.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18625 entries, 0 to 18624
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      18625 non-null  int64
 1   score_phrase    18625 non-null  object
 2   title           18625 non-null  object
 3   url             18625 non-null  object
 4   platform        18625 non-null  object
 5   score           18625 non-null  float64
 6   genre           18589 non-null  object
 7   editors_choice  18625 non-null  object
 8   release_year    18625 non-null  int64
 9   release_month   18625 non-null  int64
 10  release_day     18625 non-null  int64
dtypes: float64(1), int64(4), object(6)
memory usage: 1.6+ MB

In [11]:
heart = pd.read_csv('processed.cleveland.data', header=None)
heart

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,63.0,1.0,1.0,145.0,233.0,1.0,2.0,150.0,0.0,2.3,3.0,0.0,6.0,0
1,67.0,1.0,4.0,160.0,286.0,0.0,2.0,108.0,1.0,1.5,2.0,3.0,3.0,2
2,67.0,1.0,4.0,120.0,229.0,0.0,2.0,129.0,1.0,2.6,2.0,2.0,7.0,1
3,37.0,1.0,3.0,130.0,250.0,0.0,0.0,187.0,0.0,3.5,3.0,0.0,3.0,0
4,41.0,0.0,2.0,130.0,204.0,0.0,2.0,172.0,0.0,1.4,1.0,0.0,3.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,45.0,1.0,1.0,110.0,264.0,0.0,0.0,132.0,0.0,1.2,2.0,0.0,7.0,1
299,68.0,1.0,4.0,144.0,193.0,1.0,0.0,141.0,0.0,3.4,2.0,2.0,7.0,2
300,57.0,1.0,4.0,130.0,131.0,0.0,0.0,115.0,1.0,1.2,2.0,1.0,7.0,3
301,57.0,0.0,2.0,130.0,236.0,0.0,2.0,174.0,0.0,0.0,2.0,1.0,3.0,1
302,38.0,1.0,3.0,138.0,175.0,0.0,0.0,173.0,0.0,0.0,1.0,?,3.0,0

In [13]:
heart.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       303 non-null    float64
 1   1       303 non-null    float64
 2   2       303 non-null    float64
 3   3       303 non-null    float64
 4   4       303 non-null    float64
 5   5       303 non-null    float64
 6   6       303 non-null    float64
 7   7       303 non-null    float64
 8   8       303 non-null    float64
 9   9       303 non-null    float64
 10  10      303 non-null    float64
 11  11      303 non-null    object
 12  12      303 non-null    object
 13  13      303 non-null    int64
dtypes: float64(11), int64(1), object(2)
memory usage: 33.3+ KB

In [15]:
data ={
    'x1' : [1,2,3,4],
    'x2' : [2,3,None,5],
    'x3' : [4,5,6,7]
}
data = pd.DataFrame(data)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   x1      4 non-null      int64
 1   x2      3 non-null      float64
 2   x3      4 non-null      int64
dtypes: float64(1), int64(2)
memory usage: 224.0 bytes

In [19]:
mask = heart[11] == '?'
heart[mask]

       0    1    2      3      4    5    6      7    8    9    10 11   12  13
166  52.0  1.0  3.0  138.0  223.0  0.0  0.0  169.0  0.0  0.0  1.0  ?  3.0   0
192  43.0  1.0  4.0  132.0  247.0  1.0  2.0  143.0  1.0  0.1  2.0  ?  7.0   1
287  58.0  1.0  2.0  125.0  220.0  0.0  0.0  144.0  0.0  0.4  2.0  ?  7.0   0
302  38.0  1.0  3.0  138.0  175.0  0.0  0.0  173.0  0.0  0.0  1.0  ?  3.0   0

In [22]:
score = ign['score']    # pick one column 
score

0         9.0
1         9.0
2         8.5
3         8.5
4         8.5
         ...
18620     7.6
18621     9.0
18622     5.8
18623    10.0
18624    10.0
Name: score, Length: 18625, dtype: float64

In [24]:
platform = ign['platform']  # pick one column
platform

0        PlayStation Vita
1        PlayStation Vita
2                    iPad
3                Xbox 360
4           PlayStation 3
               ...
18620               Wii U
18621       PlayStation 4
18622       PlayStation 4
18623            Xbox One
18624                  PC
Name: platform, Length: 18625, dtype: object

In [26]:
set(platform)

{'Android',
 'Arcade',
 'Atari 2600',
 'Atari 5200',
 'Commodore 64/128',
 'DVD / HD Video Game',
 'Dreamcast',
 'Dreamcast VMU',
 'Game Boy',
 'Game Boy Advance',
 'Game Boy Color',
 'Game.Com',
 'GameCube',
 'Genesis',
 'Linux',
 'Lynx',
 'Macintosh',
 'Master System',
 'N-Gage',
 'NES',
 'NeoGeo',
 'NeoGeo Pocket Color',
 'New Nintendo 3DS',
 'Nintendo 3DS',
 'Nintendo 64',
 'Nintendo 64DD',
 'Nintendo DS',
 'Nintendo DSi',
 'Ouya',
 'PC',
 'PlayStation',
 'PlayStation 2',
 'PlayStation 3',
 'PlayStation 4',
 'PlayStation Portable',
 'PlayStation Vita',
 'Pocket PC',
 'Saturn',
 'Sega 32X',
 'Sega CD',
 'SteamOS',
 'Super NES',
 'TurboGrafx-16',
 'TurboGrafx-CD',
 'Vectrex',
 'Web Games',
 'Wii',
 'Wii U',
 'Windows Phone',
 'Windows Surface',
 'Wireless',
 'WonderSwan',
 'WonderSwan Color',
 'Xbox',
 'Xbox 360',
 'Xbox One',
 'iPad',
 'iPhone',
 'iPod'}

In [27]:
two_columns = ign[ ['score', 'platform'] ]  # pick two columns
two_columns

       score          platform
0        9.0  PlayStation Vita
1        9.0  PlayStation Vita
2        8.5              iPad
3        8.5          Xbox 360
4        8.5     PlayStation 3
...      ...               ...
18620    7.6             Wii U
18621    9.0     PlayStation 4
18622    5.8     PlayStation 4
18623   10.0          Xbox One
18624   10.0                PC

[18625 rows x 2 columns]

A column or a row in pandas is called a Series
A spreadsheet (can be more than 1 columns) is called a DataFrame

In [28]:
ign[['score']]  # is this a series or a dataframe?
# this is a dataframe

       score
0        9.0
1        9.0
2        8.5
3        8.5
4        8.5
...      ...
18620    7.6
18621    9.0
18622    5.8
18623   10.0
18624   10.0

[18625 rows x 1 columns]

In [29]:
ign['score']  # this is a series

0         9.0
1         9.0
2         8.5
3         8.5
4         8.5
         ...
18620     7.6
18621     9.0
18622     5.8
18623    10.0
18624    10.0
Name: score, Length: 18625, dtype: float64

In [31]:
type(ign['score'].values)

numpy.ndarray

In [32]:
ign['score'].values

array([ 9. ,  9. ,  8.5, ...,  5.8, 10. , 10. ])

- changing the header
- pick a particular row of data

In [34]:
data = [
    [1,2,3,4],
    [4,5,6,7]
]
data = pd.DataFrame(data)
data

   0  1  2  3
0  1  2  3  4
1  4  5  6  7

In [35]:
data.columns  # this is the header

RangeIndex(start=0, stop=4, step=1)

In [36]:
data.columns = ['x1','x2','x3', 'x4']
data

   x1  x2  x3  x4
0   1   2   3   4
1   4   5   6   7

In [37]:
data.columns

Index(['x1', 'x2', 'x3', 'x4'], dtype='object')

In [38]:
data = [
    [1,2,3,4],
    [4,5,6,7]
]
data = pd.DataFrame(data, columns=['x1','x2','x3', 'x4'])
data

   x1  x2  x3  x4
0   1   2   3   4
1   4   5   6   7

Two ways to pick a row

- by index - iloc[]
- by name - loc[]

In [39]:
data.iloc[0]   # a row is a Series

x1    1
x2    2
x3    3
x4    4
Name: 0, dtype: int64

In [40]:
data.loc[1]   # by name

x1    4
x2    5
x3    6
x4    7
Name: 1, dtype: int64

In [42]:
data = {
    'Name': ['Harry', 'Ron', 'Hermione'],
    'Marks': [78,83,94]
}
data = pd.DataFrame(data, index=['one', 'two', 'three'])
data

           Name  Marks
one       Harry     78
two         Ron     83
three  Hermione     94

In [43]:
data.loc['three']

Name     Hermione
Marks          94
Name: three, dtype: object

In [44]:
data.iloc[2]

Name     Hermione
Marks          94
Name: three, dtype: object

In [46]:
# pick a cell
data

           Name  Marks
one       Harry     78
two         Ron     83
three  Hermione     94

In [47]:
data.loc['two']['Marks']

83

shortcut name for the column

In [50]:
ign['score']
ign.score   # this will not work if the header name has more than one word, like ign['My Review']

0         9.0
1         9.0
2         8.5
3         8.5
4         8.5
         ...
18620     7.6
18621     9.0
18622     5.8
18623    10.0
18624    10.0
Name: score, Length: 18625, dtype: float64

In [51]:
row = data.loc['two']
row.Marks

83

Adding new column into a dataframe

In [54]:
new_column = ['A-', 'A', 'A+']
data['Grade'] = new_column
data

           Name  Marks Grade
one       Harry     78    A-
two         Ron     83     A
three  Hermione     94    A+

In [56]:
data['Marks_sq'] = data.Marks **2
data

           Name  Marks Grade  Marks_sq
one       Harry     78    A-      6084
two         Ron     83     A      6889
three  Hermione     94    A+      8836

In [57]:
for item in data:
    print(item)

Name
Marks
Grade
Marks_sq

In [59]:
# not encourage to loop through a dataframe, this is slow
for n, row in data.iterrows():
    print(n, row.Name, row.Marks)

one Harry 78
two Ron 83
three Hermione 94

# Grouping

- this is the group by operation in SQL

In [63]:
by_platform = ign.groupby('platform')
by_platform

In [65]:
type(by_platform.groups)   # this gives a dict

pandas.io.formats.printing.PrettyDict

In [66]:
by_platform.groups.keys()

dict_keys(['Android', 'Arcade', 'Atari 2600', 'Atari 5200', 'Commodore 64/128', 'DVD / HD Video Game', 'Dreamcast', 'Dreamcast VMU', 'Game Boy', 'Game Boy Advance', 'Game Boy Color', 'Game.Com', 'GameCube', 'Genesis', 'Linux', 'Lynx', 'Macintosh', 'Master System', 'N-Gage', 'NES', 'NeoGeo', 'NeoGeo Pocket Color', 'New Nintendo 3DS', 'Nintendo 3DS', 'Nintendo 64', 'Nintendo 64DD', 'Nintendo DS', 'Nintendo DSi', 'Ouya', 'PC', 'PlayStation', 'PlayStation 2', 'PlayStation 3', 'PlayStation 4', 'PlayStation Portable', 'PlayStation Vita', 'Pocket PC', 'Saturn', 'Sega 32X', 'Sega CD', 'SteamOS', 'Super NES', 'TurboGrafx-16', 'TurboGrafx-CD', 'Vectrex', 'Web Games', 'Wii', 'Wii U', 'Windows Phone', 'Windows Surface', 'Wireless', 'WonderSwan', 'WonderSwan Color', 'Xbox', 'Xbox 360', 'Xbox One', 'iPad', 'iPhone', 'iPod'])

In [67]:
xbox = by_platform.groups['Xbox']
xbox

Int64Index([3365, 3425, 3426, 3427, 3432, 3435, 3440, 3441, 3443, 3444,
            ...
            8577, 8624, 8675, 8680, 8684, 8710, 8718, 8960, 9514, 9636],
           dtype='int64', length=821)

In [69]:
ign.iloc[xbox]

,Unnamed: 0,score_phrase,title,url,platform,score,genre,editors_choice,release_year,release_month,release_day
3365,3365,Okay,Cel Damage,/games/cel-damage/xbox-16499,Xbox,6.5,Action,N,2001,11,6
3425,3425,Amazing,Dead or Alive 3,/games/dead-or-alive-3/xbox-16249,Xbox,9.4,Fighting,Y,2001,11,12
3426,3426,Okay,Dave Mirra Freestyle BMX 2,/games/dave-mirra-freestyle-bmx-2/xbox-16740,Xbox,6.9,Sports,N,2001,11,12
3427,3427,Good,4x4 Evo 2,/games/4x4-evo-2/xbox-16045,Xbox,7.1,Racing,N,2001,11,12
3432,3432,Good,NFL Fever 2002,/games/microsoft-nfl-fever-2002/xbox-16186,Xbox,7.9,Sports,N,2001,11,12
...,...,...,...,...,...,...,...,...,...,...,...
8710,8710,Mediocre,Superman Returns: The Videogame,/games/superman-returns/xbox-690984,Xbox,5.0,Action,N,2006,11,27
8718,8718,Bad,World Racing 2,/games/world-racing-2/xbox-707173,Xbox,4.5,Racing,N,2006,12,4
8960,8960,Good,Major League Baseball 2K7,/games/major-league-baseball-2k7/xbox-858987,Xbox,7.0,Sports,N,2007,2,27
9514,9514,Great,NCAA Football 08,/games/ncaa-football-08/xbox-890438,Xbox,8.1,Sports,N,2007,7,17
9636,9636,Good,Madden NFL 08,/games/madden-nfl-2008/xbox-868498,Xbox,7.9,Sports,N,2007,8,14

In [72]:
ign.iloc[xbox].score.mean()

7.205602923264311

In [76]:
result = []
for key in by_platform.groups:
    group = by_platform.groups[key]
    average_score = ign.iloc[group].score.mean()
    result.append([key, average_score])
    print(f"Platform: {key:25s} {average_score:.2f}")

Platform: Android                   7.55
Platform: Arcade                    6.04
Platform: Atari 2600                5.90
Platform: Atari 5200                8.00
Platform: Commodore 64/128          6.42
Platform: DVD / HD Video Game       1.00
Platform: Dreamcast                 7.37
Platform: Dreamcast VMU             3.00
Platform: Game Boy                  7.81
Platform: Game Boy Advance          6.63
Platform: Game Boy Color            6.19
Platform: Game.Com                  5.33
Platform: GameCube                  7.04
Platform: Genesis                   6.55
Platform: Linux                     7.61
Platform: Lynx                      7.13
Platform: Macintosh                 8.12
Platform: Master System             6.77
Platform: N-Gage                    6.73
Platform: NES                       6.61
Platform: NeoGeo                    6.50
Platform: NeoGeo Pocket Color       7.32
Platform: New Nintendo 3DS          7.75
Platform: Nintendo 3DS              7.32
Platform: Nintendo 64               6.98
Platform: Nintendo 64DD             6.63
Platform: Nintendo DS               6.29
Platform: Nintendo DSi              6.38
Platform: Ouya                      8.00
Platform: PC                        7.15
Platform: PlayStation               6.58
Platform: PlayStation 2             6.87
Platform: PlayStation 3             7.19
Platform: PlayStation 4             7.66
Platform: PlayStation Portable      6.75
Platform: PlayStation Vita          7.39
Platform: Pocket PC                 8.50
Platform: Saturn                    7.28
Platform: Sega 32X                  5.45
Platform: Sega CD                   7.00
Platform: SteamOS                   8.90
Platform: Super NES                 7.73
Platform: TurboGrafx-16             6.58
Platform: TurboGrafx-CD             8.00
Platform: Vectrex                   6.25
Platform: Web Games                 8.00
Platform: Wii                       6.30
Platform: Wii U                     7.47
Platform: Windows Phone             6.76
Platform: Windows Surface           6.70
Platform: Wireless                  7.18
Platform: WonderSwan                6.50
Platform: WonderSwan Color          8.60
Platform: Xbox                      7.21
Platform: Xbox 360                  7.11
Platform: Xbox One                  7.66
Platform: iPad                      7.67
Platform: iPhone                    7.29
Platform: iPod                      6.96

In [79]:
sorted_result = sorted(result, key=lambda x:x[1], reverse=True)
for key, score_av in sorted_result:
    print(f"Platform: {key:25s} {score_av:.2f}")

Platform: SteamOS                   8.90
Platform: WonderSwan Color          8.60
Platform: Pocket PC                 8.50
Platform: Macintosh                 8.12
Platform: Atari 5200                8.00
Platform: Ouya                      8.00
Platform: TurboGrafx-CD             8.00
Platform: Web Games                 8.00
Platform: Game Boy                  7.81
Platform: New Nintendo 3DS          7.75
Platform: Super NES                 7.73
Platform: iPad                      7.67
Platform: PlayStation 4             7.66
Platform: Xbox One                  7.66
Platform: Linux                     7.61
Platform: Android                   7.55
Platform: Wii U                     7.47
Platform: PlayStation Vita          7.39
Platform: Dreamcast                 7.37
Platform: NeoGeo Pocket Color       7.32
Platform: Nintendo 3DS              7.32
Platform: iPhone                    7.29
Platform: Saturn                    7.28
Platform: Xbox                      7.21
Platform: PlayStation 3             7.19
Platform: Wireless                  7.18
Platform: PC                        7.15
Platform: Lynx                      7.13
Platform: Xbox 360                  7.11
Platform: GameCube                  7.04
Platform: Sega CD                   7.00
Platform: Nintendo 64               6.98
Platform: iPod                      6.96
Platform: PlayStation 2             6.87
Platform: Master System             6.77
Platform: Windows Phone             6.76
Platform: PlayStation Portable      6.75
Platform: N-Gage                    6.73
Platform: Windows Surface           6.70
Platform: Nintendo 64DD             6.63
Platform: Game Boy Advance          6.63
Platform: NES                       6.61
Platform: TurboGrafx-16             6.58
Platform: PlayStation               6.58
Platform: Genesis                   6.55
Platform: NeoGeo                    6.50
Platform: WonderSwan                6.50
Platform: Commodore 64/128          6.42
Platform: Nintendo DSi              6.38
Platform: Wii                       6.30
Platform: Nintendo DS               6.29
Platform: Vectrex                   6.25
Platform: Game Boy Color            6.19
Platform: Arcade                    6.04
Platform: Atari 2600                5.90
Platform: Sega 32X                  5.45
Platform: Game.Com                  5.33
Platform: Dreamcast VMU             3.00
Platform: DVD / HD Video Game       1.00

In [80]:
ign.describe()

         Unnamed: 0         score  release_year  release_month   release_day
count  18625.000000  18625.000000  18625.000000    18625.00000  18625.000000
mean    9312.000000      6.950459   2006.515329        7.13847     15.603866
std     5376.718717      1.711736      4.587529        3.47671      8.690128
min        0.000000      0.500000   1970.000000        1.00000      1.000000
25%     4656.000000      6.000000   2003.000000        4.00000      8.000000
50%     9312.000000      7.300000   2007.000000        8.00000     16.000000
75%    13968.000000      8.200000   2010.000000       10.00000     23.000000
max    18624.000000     10.000000   2016.000000       12.00000     31.000000

In [82]:
ign.iloc[730]

Unnamed: 0                                    730
score_phrase                              Amazing
title                           Final Fantasy VII
url               /games/final-fantasy-vii/ps-494
platform                              PlayStation
score                                         9.5
genre                                         RPG
editors_choice                                  Y
release_year                                 1997
release_month                                   9
release_day                                     3
Name: 730, dtype: object

In [83]:
ign.loc[730]

Unnamed: 0                                    730
score_phrase                              Amazing
title                           Final Fantasy VII
url               /games/final-fantasy-vii/ps-494
platform                              PlayStation
score                                         9.5
genre                                         RPG
editors_choice                                  Y
release_year                                 1997
release_month                                   9
release_day                                     3
Name: 730, dtype: object

In [86]:
ign.iloc[xbox].iloc[0]

Unnamed: 0                                3365
score_phrase                              Okay
title                               Cel Damage
url               /games/cel-damage/xbox-16499
platform                                  Xbox
score                                      6.5
genre                                   Action
editors_choice                               N
release_year                              2001
release_month                               11
release_day                                  6
Name: 3365, dtype: object

In [87]:
ign.iloc[xbox].loc[0]

KeyError: 0

# Encoding data

In [89]:
ordinal = ['adult', 'adult', 'kid','adult', 'elderly', 'elderly','adult']
mapping = {'toddler':0, 'kid':1, 'adult':2, 'elderly':3}

encoded_ordinal = [mapping[item] for item in ordinal]
print(encoded_ordinal)

[2, 2, 1, 2, 3, 3, 2]

In [90]:
nominal =['white','silver','white', 'gray','black', 'black', 'gray','white']
pd.get_dummies(nominal)

   black  gray  silver  white
0      0     0       0      1
1      0     0       1      0
2      0     0       0      1
3      0     1       0      0
4      1     0       0      0
5      1     0       0      0
6      0     1       0      0
7      0     0       0      1